@model IEnumerable<back_end_sea_care.Models.Inscricao>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataInscricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataInscricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Evento.DescricaoEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.NomeUsuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
